<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="mysqlComment">

	<!-- 댓글 등록 / 완료-->
	<insert id="comment_insert">
		INSERT INTO 
			`comment` (email, renum, comcontent) 
		VALUES 
			(#{email}, #{renum}, #{comcontent})
	</insert>

	<!-- renum 별 댓글 조회 / 완료 -->
	<select id="comment_list" resultType="CommentDTO">
		SELECT * from `comment` where renum = #{renum} order BY comidx
	</select>
	
	<!-- 회원 별 댓글 조회 / 완료-->
	<select id="comment_list2" resultType="CommentDTO">
		SELECT * from `comment` where email = #{email} order BY comidx
	</select>

	<!-- 댓글 삭제 / 미구현 -->
	<delete id="comment_delete">
		delete from `comment` where comidx = #{comidx}
	</delete>

	<!-- 댓글 수정 / 미구현-->
	<update id="comment_update">
		UPDATE `comment` SET content = #{content} where comidx = #{comidx}
	</update>

	<!-- 댓글 수 review 테이블에 업데이트 - 댓글 작성 시 실행 / 완료 -->
	<update id="comscore_update">
		UPDATE review SET comscore = (SELECT COUNT(*) FROM `comment` WHERE renum = #{renum}) WHERE renum = #{renum} 
	</update>

</mapper>