<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysqlMember">

	<select id="myInfo" resultType="MemberDTO">
		select * from member where email = #{email}
	</select>
	
   <select id="insert">   
      INSERT INTO member 
      (email, passwd, name, phone, sns, birth) 
      VALUES 
      (#{email}, #{passwd}, #{name}, #{phone}, #{sns}, #{birth})
    </select>
		
	<delete id="delete">
		delete from member where email = #{email}
	</delete>
	
	<update id="update">
		update member set 
      	name = #{name}, passwd = #{passwd}, birth = #{birth}, phone = #{phone}, address = #{address}  where email = #{email}
	</update> 
	
	<select id="check_passwd" resultType="int">
		select count(*) from member where email = #{email} and passwd = #{passwd}
	</select>
	
	<select id="check_api" resultType="int">
		select count(*) from member where email = #{email} and name = #{name}
	</select>
	
	<select id="loginCheck" resultType="String">
	 	select name 
	 	from 
	 		member
	 	where 
	 		email = #{email} and passwd = #{passwd}
	 </select>	
	 
	 <select id="apiloginCheck" resultType="String">
	 	select name 
	 	from 
	 		member
	 	where 
	 		email = #{email} and passwd = #{passwd}

	 </select>	
	 
	 <select id="findemail" resultType="MemberDTO">
     	select * from member where phone = #{phone}
     </select>
     
     <select id="findpwd" resultType="MemberDTO">
     	select * from member where email = #{email}
     </select>
     
     <select id="list" resultType="MemberDTO">
     	select * from member where email = #{email}
  	 </select>
	
</mapper>