<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysqlOrderDetail">

	<!-- 주문 내역 조회 / 완료-->
	<select id="detail_list" resultType="orderDetailDTO">
	   SELECT * FROM order_detail WHERE email = #{email} order by indate desc
	</select>
   
   <!-- 오더 디테일 추가 / 완료 -->
	<insert id="order_detail_insert">
		INSERT INTO order_detail 
			(detailnum, prodnum, email, prodname, image, quantity, price, totalprice) 
		values
			(IFNULL((SELECT MAX(detailnum) FROM `order` where email = #{email}),1), (SELECT `prodnum` FROM product WHERE prodname = #{prodname}), #{email}, #{prodname}, (SELECT `image` FROM product WHERE prodname = #{prodname}), #{quantity}, #{price}, #{totalprice})
	</insert> 
	
	<!-- 리뷰 등록시 orderdetail 테이블의 리뷰작성 유무 업데이트 / 완료 -->
	<update id="review_result">
		UPDATE order_detail SET review = 2 WHERE prodnum = #{prodnum}
	</update>
	
	<!-- 리뷰 삭제시 orderdetail 테이블의 리뷰작성 유무 업데이트 / 완료 -->
	<update id="review_result_delete">
		UPDATE order_detail SET review = 1 WHERE prodnum = #{prodnum}
	</update>

   <!-- 주문 내역 삭제 / (관리자용)-->
   <delete id="detail_delete">   
       delete from order_detail where detailnum = #{detailnum}
   </delete>

   <!-- 주문 내역 수정 (관리자전용) -->
   <update id="detail_update">
      update order_detail set 
      quantity = #{quantity}, totalprice = #{quantity}*price 
      where detailnum = #{detailnum} and cartnum = #{cartnum}
   </update>

</mapper>