<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysqlProduct">
   
   <!-- 상품 목록 -->
   <select id="prod_list" resultType="ProductDTO">
      select * from product
   </select>
   
   <!-- 상품 조회(이름) -->
   <select id="name_list" resultType="ProductDTO">   
      select * from product WHERE NAME LIKE "%#{name}%"
   </select>

   <!-- 상품 조회(kind) -->
   <select id="kind_list" resultType="ProductDTO">   
      select * from product WHERE kind = #{kind}
   </select>

   <!-- 상품 조회(key) -->
   <select id="prodnum_list" resultType="ProductDTO">   
      select * from product WHERE prodnum = #{prodnum}
   </select>
   
   <!-- 상품 등록 -->
   <insert id="prod_insert">
      INSERT INTO product 
      (name, kind, price, content, detail, image) 
      VALUES 
      (#{name}, #{kind}, #{price}, #{content}, #{detail}, #{image})	
   </insert>
   
   <!-- 상품 수정 -->
   <update id="prod_update">
      update product set 
      name = #{name}, kind = #{kind}, price = #{price}, content = #{content}, detail = #{detail}, image = #{image} where prodnum = #{prodnum}
   </update>
   
   <!-- 상품 삭제 -->
   <delete id="prod_delete">
      delete from product where prodnum = #{prodnum}
   </delete>
   
   <!-- 리뷰 수 
   <update id="review_count" resultType="int">
      UPDATE product SET reviewscore = (SELECT COUNT(*) FROM review WHERE prodnum = "#{prodnum}")
   </update>-->
   
   <!-- 리뷰 점수 
   <update id="review_score" resultType="int">
      update product set review = (SELECT TRUNCATE(AVG(grade),0) FROM review WHERE prodnum = "#{prodnum}")
   </update>-->

</mapper>