<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysqlReview">

	<!-- 상품별 리뷰 목록 상품명으로 조회 / 완료-->
	<select id="prod_review_list" resultType="ReviewDTO">
		SELECT * FROM review WHERE prodnum = #{prodnum}
	</select>
	
	<!-- 상품별 리뷰 목록 상품번호로 조회 / 완료 -->
	<select id="prod_review_list2" resultType="ReviewDTO">
		SELECT * FROM review WHERE prodname = #{prodname}
	</select>

	<!-- 회원별 리뷰 목록 / 완료 -->
	<select id="email_review_list" resultType="ReviewDTO">
		SELECT * FROM review WHERE email = #{email}
	</select>
	
	<!-- 후기 작성시 적립금추가  / 관리자 -->
	<update id="reserves_add">
		UPDATE member SET reserves = reserves+100 WHERE email = #{email}
	</update>

	<!-- 리뷰 상세 보기 / 완료 -->
	<select id="review_detail" resultType="ReviewDTO">
		SELECT * FROM review WHERE renum = #{renum} OR `RENAME` = #{rename}
	</select>
	
	<!-- 리뷰 메인페이지 조회 / 완료 -->   
	<select id="review_list" resultType="ReviewDTO">
		SELECT * FROM review order by redate desc 
	</select>
	
	<!-- 리뷰 삭제 / 완료-->
	<delete id="review_delete">
		delete from review WHERE renum = #{renum}
	</delete>
	
	<!-- 리뷰 수정 / 완료 -->
	<!-- rename, content, grade 수정  -->
	<update id="review_update">
		UPDATE review SET `rename` = #{rename}, recontent = #{recontent}, grade = #{grade} where email = #{email} and renum = #{renum}
	</update>
	
	<!-- 리뷰 등록 / 완료 -->
	<insert id="review_insert">
		INSERT INTO 
			review (email, prodnum, image, prodname, content, price, `rename`, recontent, grade) 
		VALUES 
			(#{email}, #{prodnum}, #{image}, #{prodname}, #{content}, #{price}, #{rename}, #{recontent}, #{grade})
	</insert>
	
	<!-- 상품별 리뷰 수 조회 / 완료-->
	<select id="review_score" resultType="int">
		select reviewscore from product where prodnum = #{prodnum}
	</select>
	
	<!-- 리뷰 조회 수 증가 - 리뷰 조회 시 실행 / 완료-->
	<update id="review_lookup">
		UPDATE review SET lookup = (SELECT * FROM (SELECT (lookup+1) FROM review WHERE renum = #{renum}) AS t) WHERE renum = #{renum}
	</update>
	
	<!-- 리뷰 추천 수 증가 - 리뷰 추천 수 버튼 클릭 시 실행 / 완료-->
	<update id="review_recom">
		UPDATE review SET recom = (SELECT * FROM (SELECT (recom+1) FROM review WHERE renum = #{renum}) AS t) WHERE renum = #{renum}
	</update>
	   
	<!-- 리뷰 수 상품 테이블에 추가 - 리뷰 작성 시 실행 / 완료-->
	<update id="review_count">
		UPDATE product SET reviewscore = reviewscore +1 WHERE prodnum = #{prodnum}
	</update>
	
	<!-- 리뷰 수 상품 테이블에서 차감 - 리뷰 삭제 시 실행 / 완료-->
	<update id="review_count_delete">
		UPDATE product SET reviewscore = reviewscore -1 WHERE prodnum = #{prodnum}
	</update>
	
	<!-- 리뷰 점수 - 상품테이블에 추가 - 리뷰 작성 시 실행 / 완료 -->
	<update id="review_score_insert">
		update product set review = (SELECT TRUNCATE(AVG(grade),0) FROM review WHERE prodnum = #{prodnum}) WHERE prodnum = #{prodnum}
	</update>   
	

</mapper>