<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysqlOrder">
   
   <!-- 장바구니 결과값 초기화(장바구니 열때마다 실행) -->
   <!-- insert 시 같은 값을 가진 cartnum 값이 있을때 result 값만 update -->
   <insert id="order_resultr">
     insert INTO `order`
     (cartnum, email, prodnum, quantity, price, totalprice, result)
     SELECT cartnum, email, prodnum, quantity, price, totalprice, result FROM cart 
     ON duplicate KEY UPDATE result = VALUES(result);
   </insert>

   <!-- 주문 대기 목록 -->
   <select id="order_list" resultType="cartDTO">
      SELECT * FROM `order` WHERE result = 2;
   </select>

   <!-- 주문 품목 삭제 -->
   <!-- 삭제해도 장바구니에는 존재함 -->
   <delete id="order_delete">   
       delete from order where cartnum = #{cartnum}
   </delete>

   
   <!-- 장바구니 추가  -->
   <insert id="order_insert">
     INSERT INTO cart 
    (email, prodnum, quantity, price) 
     VALUES 
    (#{email}, #{prodnum}, #{quantity}, (SELECT price FROM product WHERE prodnum = #{prodnum}), #{quantity}*(SELECT price FROM product WHERE prodnum = #{prodnum}))
   </insert>


   <!-- 장바구니 수량 변경 -->
   <update id="prod_update">
      update cart set 
      quantity = #{quantity}, totalprice = #{quantity}*(SELECT price FROM product WHERE prodnum = #{prodnum}) where cartnum = #{cartnum}
   </update>

   <!-- 주문 대기 상태로 변경 (1개 이상의 cartnum 선택시 배열으로 받아서 for문 이용하여 1개이상 수정-->
   <update id="prod_order">
     UPDATE cart SET result = 2 WHERE cartnum = #{cartnum}
   </update>



</mapper>