<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mysqlOrder">
   
   <!-- 주문 추가  -->
   <insert id="order_insert">
	INSERT INTO `order` 
	(detailnum, email, totalprice, sale, saleprice, usereserves, payprice, addreserves, address, pay)
	VALUES
	(#{detailnem}, #{email}, 
	/* 총 구매금액 total price*/
	(SELECT sum(totalprice) FROM order_detail WHERE detailnum=#{detailnem}),
	/* 이메일로 랭크 별 할인율 sale*/
	(rankfunction(#{email})),
	/* 할인 금액  saleprice*/			    
	(salefunction(#{email},#{detailnem})), #{usereserves}, 
	/* 결제금액  payprice*/			    
	(payfunction(#{email},#{detailnem},#{usereserves})), 
	/* 적립금 reserves */			    
	(reservesfunction(#{email},#{detailnem},#{usereserves})), 
	/* 주소 assress */			    
	(IFNULL((SELECT address FROM member WHERE email = #{email}),#{address})),
	#{pay})
   </insert>

   <!-- 주문내역수정 기능  -->
   <update id="order_update">
	UPDATE `order` SET result = #{result}, pay = #{pay} WHERE email = #{email} AND detailnum = #{detailnum}
   </update>

   <!-- 적립금추가  -->
   <update id="reserves_add">
            UPDATE member SET reserves = (addreservesfunction(#{email}, #{detailnum})) WHERE email = #{email}
   </update>

   <!-- 적립금사용  -->
   <update id="reserves_use">
	UPDATE member SET reserves = (subreservesfunction(#{email}, #{detailnum})) WHERE email = #{email}
   </update>

   <!-- 주문상세내역조회  -->
   <select id="order_detail_list">
	SELECT * FROM `order` WHERE email = #{email} AND detailnum = #{detailnum}
   </select>

   <!-- 회원주문내역조회 -->
   <!-- result 값에 따라 1: 배송전, 2: 배송중, 3: 배송완료 -->
   <update id="order_email_list">
	SELECT * FROM order_detail WHERE detailnum = (deliveryfunction(#{email},#{result}))
   </update>


</mapper>