<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="com.example.ex01.model.dto.MemberDTO" alias="MemberDTO"/>
		<typeAlias type="com.example.ex01.model.dto.CartDTO" alias="CartDTO"/>
		<typeAlias type="com.example.ex01.model.dto.AdminDTO" alias="AdminDTO"/>
		<typeAlias type="com.example.ex01.model.dto.BooksDTO" alias="BooksDTO"/>
		<typeAlias type="com.example.ex01.model.dto.QnADTO" alias="QnADTO"/>
		<typeAlias type="com.example.ex01.model.dto.OrderDTO" alias="OrderDTO"/>
		<typeAlias type="com.example.ex01.model.dto.OrderDetailDTO" alias="OrderDetailDTO"/>
		<typeAlias type="com.example.ex01.model.dto.ReviewDTO" alias="ReviewDTO"/>
	</typeAliases>
	

</configuration>